{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>About us | NCB&SONS</title>
{% endblock %}

{% block content %}
    <div style="display: float; width: 80%; margin: auto;">
        <h3 style="color: orange;"><u>About Us</u></h3>
        <br>
        <p>
            This is about us paragraphs just for testing. This is about us paragraphs just for testing.
            This is about us paragraphs just for testing. This is about us paragraphs just for testing.
            This is about us paragraphs just for testing. This is about us paragraphs just for testing.
            This is about us paragraphs just for testing. This is about us paragraphs just for testing.
            This is about us paragraphs just for testing. This is about us paragraphs just for testing.
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}